downloads/** filter=lfs diff=lfs merge=lfs -text
output/** filter=lfs diff=lfs merge=lfs -text
output_mysql/** filter=lfs diff=lfs merge=lfs -text

notebooks/mysqld/protein_folding_energy/alascan_gpk.frm filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/alascan_gpk.MYD filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/alascan_gpk.MYI filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/citations.frm filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/citations.MYD filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/citations.MYI filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/curatedprotherm.frm filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/curatedprotherm.MYD filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/curatedprotherm.MYI filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/db.opt filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/guerois.frm filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/guerois.MYD filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/guerois.MYI filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/kellogg.frm filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/kellogg.MYD filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/kellogg.MYI filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/pdbs.frm filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/pdbs.MYD filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/pdbs.MYI filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/potapov.frm filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/potapov.MYD filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/potapov.MYI filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/protherm.frm filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/protherm.MYD filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/protherm.MYI filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/protherm_star.frm filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/rosetta_ddg.frm filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale_chaperone.frm filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale_chaperone.MYD filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale_chaperone.MYI filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale_failed.frm filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale_failed.MYD filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale_failed.MYI filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale_foldx.frm filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale_foldx.MYD filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale_foldx.MYI filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale.frm filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale.MYD filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale.MYI filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale_tr_chaperone.frm filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale_tr_chaperone.MYD filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale_tr_chaperone.MYI filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale_tr_failed.frm filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale_tr_failed.MYD filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale_tr_failed.MYI filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale_tr_foldx.frm filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale_tr_foldx.MYD filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale_tr_foldx.MYI filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale_tr.frm filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale_tr.MYD filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_folding_energy/taipale_tr.MYI filter=lfs diff=lfs merge=lfs -text
